/*tag body*/
body {
    padding-top: 50px;
}
/*class */
.navbar {
    background-color:#be3f85;
}
/*class */
.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}
/*class */
.jumbotron {
    background-image: url('background.jpg');
    color: #fff;
    text-align: center;
    padding: 100px;
}
/*class */
.section {
    padding: 50px 0;
}/*class */
.footer {
    background-color: #be3f85;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/*tag h1*/
h1{
    color:black;
}
/*tag p*/
p{
    color:black;
    text-align: justify;
}/*id */
#paragrafo{

    text-align: center;

}/*id */
#paragrafo1{

    text-align: center;
}
/*tag img*/
img{
    
    width: 300px;
}